*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
:root{
    --color-yellow:#ffc814;
    --color-black:#0d0d0d;
    --color-white:#f2f2f2;
}

/* HEADER */
#proyecto-header{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 145px;
    width: 100%;
    position: absolute;
    bottom: 100;
    justify-content: space-around;
    color: var(--color-white);
    background: var(--color-black);
    top: 0;
}
#proyecto-header img{
    padding-top: 7px;
    width: 20%;
    border-radius: 50%;
}
#proyecto-nav{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
#proyecto-nav span:hover{
    cursor: pointer;
    color: var(--color-yellow);
    transition: 0.5s;
}

/* MAIN */
#proyecto-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.proyecto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0;
    width: 100%;
}
.proyecto-container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0;
    background-color: whitesmoke;
    width: 100%;
}
/* Caja con titulo, parrafo y boton */
.proyecto-info{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 600px;
}
.proyecto-info_2{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    width: 600px;
}
.proyecto-info p{
    margin-top: 20px;
}
.proyecto-info_2 p{
    margin-top: 20px;
}
/* Botones */
.proyecto-boton{
    border: none;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.proyecto-boton:hover{
    border: none;
    color: var(--color-white);
    background-color: var(--color-yellow);
    transition: 0.4s;
    cursor: pointer;
}
.proyecto-caja_boton{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 15px;
}
.proyecto-caja_boton_izq{
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 25px;
}
.proyecto-fotos img{
    box-shadow: 1px 1px 2px 2px;
}
.proyecto-imagen{
    border-radius: 5px;
}
/* FOOTER */
#proyecto-footer{
    display: flex;
    height: 145px;
    width: 100%;
    background-color: var(--color-black);
    justify-content: center;
    align-items: center;
    bottom: 0;
}
#proyecto-derechos{
    display: flex;
    width: 70%;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-white);
    margin-left: 50px;
    padding: 10px;
}
#proyecto-derechos span:hover{
    cursor: pointer;
    transition: 0.5s;
    color: var(--color-yellow);
}
#proyecto-iconos{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    padding: 10px;
}

#proyecto-instagram{
    color: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 20%;
}

#proyecto-facebook{
    color: #1877f2;
}

#proyecto-twitter{
    color: #1DA1F2;
}
#proyecto-youtube{
    color: #FF0000;
}

#proyecto-iconos i{
    padding: 5px;
}
#proyecto-iconos i:hover{
    cursor: pointer;
    transition: 0.5ms;
}