*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-yellow:#ffc814;
    --color-black:#0d0d0d;
    --color-white:#f2f2f2;
}
#proyecto-header{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 15vh;
    width: 100%;
    justify-content: space-around;
    color: var(--color-white);
    background: var(--color-black);
}
#proyecto-header img{
    padding-top: 7px;
    width: 20%;
    border-radius: 50%;
}
#proyecto-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#proyecto-nav{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
#proyecto-nav span:hover{
    cursor: pointer;
    color: var(--color-yellow);
    transition: 0.5s;
}
/* AQUI EMPIEZA LO MIO --------------------------- */
#proyecto-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#proyecto-principal-texto{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#proyecto-principal-texto p{
    width: 80%;
    font-size: 15px;
    letter-spacing: 1px;
    height: 20vh;
    padding: 10px;
}
#proyecto-principal-img{
    width: 100%;
    overflow: hidden;
    position: relative;
}
#proyecto-principal-img img{
    width: 100%;
    z-index: -1;
}
#proyecto-texto-imagen{
    position: absolute;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 300px;
    width: 300px;
    bottom: 25%;
    right: 10%;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#proyecto-texto-imagen a{
    color: var(--color-yellow);
}
#proyecto-principal-texto h1{
    margin: 30px;
}
#boton1{
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: var(--color-black);
    color: var(--color-yellow);
    border: none;
    border-radius: 5px;
    margin: 10px;
}
#boton2{
    position: absolute;
    bottom: 0;
    right: 30%;
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color: var(--color-yellow);
    color: var(--color-black);
    border: none;
    border-radius: 5px;
    margin: 10px;
}
#imagen2{
    overflow: hidden;
    margin-bottom: 40px;
}
h2 a{
    color: var(--color-yellow);
}
h2{
    letter-spacing: 1px;
}
p a{
    font-weight: bold;
}
/* AQUI ACABA LO MIO -------------------------------------------- */
#proyecto-footer{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: var(--color-black);
    justify-content: center;
    align-items: center;
}
#proyecto-imagen-footer{
    display: flex;
    height: 100%;
    width: 20% ;
    justify-content: left;
    margin-left: 10vh;

}

#proyecto-imagen-footer img{
    width: 100%;
    height: auto;
}

#proyecto-derechos{
    display: flex;
    width: 70%;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-white);
    margin-left: 50px;
    padding: 10px;
}
#proyecto-derechos span:hover{
    cursor: pointer;
    transition: 0.5s;
    color: var(--color-yellow);
}
#proyecto-iconos{
    display: flex;
    justify-content: center;
    color: var(--color-white);
    margin-left: 10px;
    padding: 10px;
}
#proyecto-iconos i{
    padding: 5px;
}
#proyecto-iconos i:hover{
    cursor: pointer;
    transition: 0.5ms;
    color: var(--color-yellow);

}